
params {
    //preset params:
    rundir                  ="${launchDir.baseName}" 
    genome                  ="hg38" //default assembly is hg38, unless --genome is set!
}

switch (params.genome) {
    case 'hg38':
    def sharedConfig = new File('/data/configs/nextflowLRS_backup260127.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;

    case 't2t':
    def sharedConfig = new File('/data/configs/nextflowLRS_T2T.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;
}
