


params {
    //preset params:
    outdir                  ="${launchDir.baseName}.Results"
    rundir                  ="${launchDir.baseName}" 
    genome                  ="hg38" //default assembly is hg38, unless --genome is set!
    //unset params
    help                    =null
    input                   =null
    allReads                =null
    noMerge                 =null
    gatk                    =null
    aligned                 =null
    samplesheet             =null
    simpleName              =null
    //unset params - analysis controls
    skipQC                  =null
    skipVariants            =null
    skipSV                  =null
    skipSTR                 =null
    groupedOutput           =null
    jointCall               =null
    hpo                     =null
}







switch (params.genome) {
    case 'hg38':
    def sharedConfig = new File('/data/configs/nextflowLRS.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;

    case 't2t':
    def sharedConfig = new File('/data/configs/nextflowLRS_T2T.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;
}









/*
puretargetPlotGenes=["SCA1_ATXN1",
                     "SCA2_ATXN2",
                     "SCA3_ATXN3",
                     "SCA6_CACNA1A",
                     "SCA7_ATXN7",
                     "CANVAS_RFC1",
                     "DM1_DMPK",
                     "DM2_CNBP",
                     "FTDALS1_C9orf72",
                     "FXS_FMR1",
                     "FRDA_FXN",
                     "HD_HTT"]




params.outdir             ="${launchDir.baseName}.Results"
params.allReads           =false


def outputDir   = params.allReads ? "${params.outdir}_AllReads" : "${params.outdir}_HifiReads"

timeline {
    enabled     = true
    file        = "${outputDir}/runInfo/${trace_timestamp}_Nextflow_timeline.html"
}

report {
    enabled     = true
    file        = "${outputDir}/runInfo/${trace_timestamp}_Nextflow_report.html"
}

trace {
    enabled     = true
    file        = "${outputDir}/runInfo/${trace_timestamp}_Nextflow_trace.txt"
}

///////////////// Global process default settings /////////////////////

process {
    executor            = 'local'
    scratch             = false
    maxForks            = 10
    cpus                = 8
    errorStrategy       = 'ignore'
    
    withLabel: 'low' {
        cpus            = 4
        errorStrategy   = 'ignore'
    }

    withLabel: 'medium' {
        cpus            = 8
        errorStrategy   = 'ignore'
    }

    withLabel: 'high' {
        cpus            = 24
        maxForks        = 8
        errorStrategy   = 'ignore'
    }

    withLabel: 'veryHigh' {
        cpus            = 48
        maxForks        = 8
        errorStrategy   = 'terminate'
    }
}


profiles {

    slurm {

        workDir = "/lnx01_data2/slurmWork/${user}/${trace_timestamp}_${launchDir.baseName}"

        process {

            cpus                = 16
            memory              = '16 GB'
            time                = '48h'
            environment         = ['TMPDIR': "/fast/TMP/TMP.${user}"]
            executor            = 'slurm'
            queue               = 'compute'
            scratch             = true
            shell               = ['/bin/bash', '-l']
            maxForks            = 30
            maxRetries          = 1


            withLabel: 'low' {
                cpus            = 4
                memory          = '8 GB'
                time            = '24h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'medium' {
                cpus            = 8
                memory          = '16 GB'
                time            = '48h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'high' {
                cpus            = 32
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'ignore'
            }

            withLabel: 'veryHigh' {
                cpus            = 64
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'terminate'
            }

            /// Specific process overrides for slurm profile
            withName: 'create_fofn' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
            withName: 'inputFiles_symlinks_ubam' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
        }
    }

   slurm_test {
        workDir = "/nfs_fast/mmaj/slurmWork/${user}/${trace_timestamp}_${launchDir.baseName}"

        process {
            cpus            = 16
            memory          = '32 GB'
            time            = '48h'
            //environment     = ['TMPDIR': "/nfs_fast/mmaj/TMP/"]
            executor        = 'slurm'
            queue           = 'compute'
            scratch         = true
            shell           = ['/bin/bash', '-l']
            env.TMPDIR      = "/nfs_fast/mmaj/TMP/"
            clusterOptions  = "--export=ALL,TMPDIR=/nfs_fast/mmaj/TMP/"


            withLabel: 'low' {
                cpus            = 4
                memory          = '8 GB'
                time            = '24h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'medium' {
                cpus            = 8
                memory          = '16 GB'
                time            = '48h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'high' {
                cpus            = 32
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'ignore'
            }

            withLabel: 'veryHigh' {
                cpus            = 64
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'terminate'
            }

            /// Specific process overrides for slurm profile
            withName: 'create_fofn' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
            withName: 'inputFiles_symlinks_ubam' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
        }
    }
}

*/







            /*
            withName: 'pbmm2_align_mergedData' {
                executor        = 'slurm'
                scratch         = true
            }
            withName: 'pbmm2_align' {
                executor        = 'slurm'
                scratch         = true
            }
            */


/*
        // optional errorstrategy to double memory and retry up to 2 times
            errorStrategy = { task ->
                if( task.attempt <= 2 && task.memory ) {
                    def memGB = task.memory.toMega() / 1024
                    task.memory = "${memGB * 2} GB"
                    return 'retry'
                }
                else {
                    return 'ignore' 
                }
            }






            withName: 'pbmm2_align_mergedData' {
                cpus = 128
                memory = '64 GB'
                executor = 'slurm'
                scratch = true
            }
            withName: 'pbmm2_align' {
                cpus = 128
                memory = '64 GB'
                executor = 'slurm'
                scratch = true
            }
   */   
